stages:
  - deps
  - roxygen
  - rcmdcheck
  - build

image: rocker/tidyverse

default:
  before_script:
    - mkdir -p installed_deps
    - echo 'R_LIBS="`pwd`/installed_deps"' > ~/.Renviron
    - echo 'R_LIBS_USER="`pwd`/installed_deps"' >> ~/.Renviron
    - pwd
    - ls -la
  cache:
    key: "$CI_COMMIT_REF_SLUG"
    paths:
     - installed_deps/

roxygen-job:
  stage: roxygen
  needs: ["deps-job"]
  script:
    - apt-get update
    - apt-get -y install libglu1-mesa
    - R -e "roxygen2::roxygenise(\"MDSMap\")"

deps-job:
  stage: deps
  script:
    - pwd
    - ls -la
    - ls -la MDSMap
    - cd MDSMap && R -e "remotes::install_deps(dependencies=TRUE)"

rcmdcheck-job:
  stage: rcmdcheck
  needs: ["roxygen-job", "deps-job"]
  script:
    - R CMD check MDSMap --no-build-vignettes --no-manual

