# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
#
# See https://github.com/r-lib/actions/tree/master/examples#readme for
# additional example workflows available for the R community.

name: R

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macOS-latest,   r: 'release'}
          - {os: windows-latest, r: 'release'}
          - {os: ubuntu-latest,   r: 'devel'}
          - {os: ubuntu-latest,   r: 'release'}
          - {os: ubuntu-latest,   r: 'oldrel-1'}

    steps:
      - uses: actions/checkout@v3
      - name: Set up R ${{ matrix.config.r }}
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
      - name: deps
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          working-directory: MDSMap
          extra-packages: any::rcmdcheck
          needs: check
      - name: roxygenise
        run: |
          library(roxygen2)
          roxygenise("MDSMap")
        shell: Rscript {0}
      - name: Check
        uses: r-lib/actions/check-r-package@v2
        with:
          working-directory: MDSMap
          args: 'c("--no-manual", "--as-cran", "--no-build-vignettes")'
          
